<div class="article" id="{articleName}">
    <h2>{articleTitle}</h2>
    <h4>By {articleAuthor} on {articleDate}</h4>
    <br />

    <div class="articleContent" id="{articleName}-content" data-open="false">        
        {articleContent}
    </div>
    
    <button id="btn{articleName}" class="copyButton"
        onclick="copyToClipboard('{baseURL}#{articleName}'); copiedAlert('btn{articleName}')">Share</button>

    <button class="readMoreButton" id="btnMore{articleName}" onclick="readButton('{articleName}-content', '{articleName}', 'btnMore{articleName}')">Read More</button>
</div>