* {
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

html {
    height: 100%;
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    font-family: "Source Sans Pro";
}

.titletext {
    text-align: left;
    margin-top: 5pt;
    margin-bottom: 5pt;
    margin-left: 20pt;
    margin-right: 20pt;
}

p,
footer,
h2,
h4 {
    color: rgb(40, 40, 40);
    margin-left: 20pt;
    margin-right: 20pt;
}

h1,
h2,
h3,
h4 {
    margin-bottom: -10pt;
}

body {
    text-align: left;
    font-size: 12pt;
}

footer {
    width: 48%;
}

.content {
    margin-left: 10pt;
    margin-right: 10pt;
}

header {
    height: auto;
    margin-top: 10pt;
    text-align: center;
    padding-bottom: 10pt;
    display: block;
    text-align: left;
    color: white;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(255, 91, 91);
}

.codehilite {
    display: block;
    padding-left: 10pt;
    margin-bottom: 10pt;
    margin-left: 20pt;
    margin-right: 20pt;
    border-radius: 5pt;
}

.article {
    padding-bottom: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    width: 48%;
    display: block;
    border-radius: 5pt;
}

.articleContent {
    max-height: 60pt;
    margin-bottom: 5pt;
    overflow-y: hidden;

    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

img {
    display: block;
    width: 100%;
}

footer {
    margin-bottom: 20pt;
    margin-top: 10pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(137, 227, 255);
    box-shadow: 0px 0px 10px black;
    text-align: center;
    border-radius: 5pt;
}


button {
    border-radius: 4pt;
    font-weight: bold;
    margin-left: 20pt;
    border-style: solid;
    border-width: 0px;
    padding: 4pt;
    color: white;
    background-color: rgb(255, 91, 91);
    display: inline;
    font-size: 10pt;
    outline: none;
}

.readMoreButton{
    color: white;
    background-color: rgb(60, 60, 60);
    margin-left: 2pt;
}

/* CSS FOR SMALL WINDOW SIZE */
@media only screen and (max-width: 1200px) {
    
    .content {
        margin-left: 20pt;
        margin-right: 20pt;
    }

    .codehilite {
        margin-left: 20pt;
        margin-right: 20pt;
    }

    header,
    .article,
    footer {
        width: 95%;
        overflow-x: hidden;
        border-radius: 5pt;
    }
}

/* CSS FOR MOBILE DEVICES */
@media (hover:none),
(hover:on-demand) {

    h1,
    h2,
    h3,
    h4,
    p,
    body,
    .codehilite {
        margin-left: 7pt;
        margin-right: 7pt;
    }

    .titletext {
        margin-left: 10pt;
    }

    img {
        margin-right: 10pt;
    }

    button {
        margin-left: 7pt;
    }

    header,
    .article,
    footer {
        /*width: 95%;*/
        overflow-x: hidden;
        box-shadow: none;
        border-radius: 5pt;
    }
}
