* {
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    font-family: Source Sans Pro;
}

.codehilite {
    font-family: consolas;
}

html {
    height: 100%;
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
}

.titletext {
    font-size: 25pt;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 5pt 20pt 0;
}

.titletext span {
    display: block;
    font-size: 15pt;
    font-weight: normal;
}

p, footer, h2, h4 {
    color: rgb(40, 40, 40);
    margin-left: 20pt;
    margin-right: 20pt;
}

h1, h2, h3, h4 {
    margin-bottom: -10pt;
}

body {
    text-align: left;
    font-size: 12pt;
}

footer {
    width: 48%;
}

.content {
    margin-left: 10pt;
    margin-right: 10pt;
}

.codehilite {
    display: block;
    padding-left: 10pt;
    margin-bottom: 10pt;
    margin-left: 20pt;
    margin-right: 20pt;
    border-radius: 5pt;
}

.article {
    padding-bottom: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgb(14 14 14 / 0.5), 0px 0px 5px 0px rgb(14 14 14 / 0.5);
    width: 48%;
    display: block;
    border-radius: 5pt;
}

.articleContent {
    position: relative;
    max-height: 60pt;
    min-height: 60pt;
    padding: 10pt;
    margin-bottom: 10pt;
    overflow: hidden;
    opacity: 0.5;
    transition: all .75s ease-in-out;
}

.articleContent img {
    transition: all .75s ease-in-out;
}

.articleContent[data-open=false] {
    max-height: 60pt !important;
}

.articleContent[data-open=true] {
    opacity: 1;
}

.articleContent[data-open=false] img {
    display: none;
}

.articleContent[data-open=true] img {
    border-radius: 5pt;
    max-width: calc(50% - 10pt);
    max-height: 50%;
    margin: 5pt 5pt 0pt 0pt;
}

.articleContent:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255, 0.1));
}

.articleContent[data-open="true"]:after {
    display: none;
}

img {
    display: block;
    width: 100%;
    background-color: rgb(40, 40, 40);
}

header {
    height: auto;
    margin-top: 10pt;
    text-align: center;
    padding-bottom: 10pt;
    display: block;
    text-align: left;
    background-color: rgb(255, 91, 91);
    color: white;
}

footer {
    margin-bottom: 5pt;
    margin-top: 10pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(77 188 222);
    text-align: center;
    border-radius: 5pt;
}

footer p{
    color: rgb(40, 40, 40);
}

footer, header {
    color: white ;
    box-shadow: 0px 5px 5px 0px rgb(14 14 14 / 0.5), 0px 0px 5px 0px rgb(14 14 14 / 0.5);
}

button {
    border-radius: 4pt;
    font-weight: bold;
    margin-left: 20pt;
    border-style: solid;
    border-width: 0px;
    color: white;
    background-color: rgb(255, 91, 91);
    padding: 4pt;
    display: inline;
    font-size: 10pt;
    transition: all 2s ease;
}

.readMoreButton {
    color: white;
    background-color: rgb(40, 40, 40);
    margin-left: 2pt;
}

/* CSS FOR SMALL WINDOW SIZE */

@media only screen and (max-width: 1200px) {
    .content {
        margin-left: 20pt;
        margin-right: 20pt;
    }
    .codehilite {
        margin-left: 20pt;
        margin-right: 20pt;
    }
    header, .article, footer {
        width: 95%;
        overflow-x: hidden;
        border-radius: 5pt;
    }
    .titletext {
        margin-left: 10pt;
    }
}

/* CSS FOR MOBILE DEVICES */

@media (hover:none), (hover:on-demand) {
    h1, h2, h3, h4, p, body, .codehilite {
        margin-left: 7pt;
        margin-right: 7pt;
    }
    .titletext {
        margin-left: 10pt;
    }
    img {
        margin-right: 10pt;
    }
    button {
        margin-left: 7pt;
    }
    header, .article, footer {
        /*width: 95%;*/
        overflow-x: hidden;
        box-shadow: none;
        border-radius: 5pt;
    }
}