* {
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}


.bg {
    z-index: -10;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: linear-gradient(-90deg, rgb(30,30,30), rgb(70,70,70));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


html {
    height: 100%;
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
}

.titletext, footer, h2, h4 {
    font-family: 'Century Gothic', 'Futura';
}

p {
    font-family: 'Source Sans Pro', 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt !important;
}

.titletext {
    font-size: 25pt;
    font-weight: bold;
    text-align: left;
    margin-left: 10pt;
    margin-top: 5pt;
}

.titletext span {
    display: block;
    font-size: 15pt;
    font-weight: normal;
}

p, footer, h2, h4 {
    color: rgb(40, 40, 40);
    margin-left: 20pt;
    margin-right: 20pt;
}


h1, h2, h3, h4 {
    margin-bottom: -10pt;
}

body {
    text-align: left;
    font-size: 12pt;
}

footer {
    width: 48%;
}

.content {
    margin-left: 10pt;
    margin-right: 10pt;
}

.codehilite {
    display: block;
    padding-left: 10pt;
    margin-bottom: 10pt;
    margin-left: 20pt;
    margin-right: 20pt;
    border-radius: 5pt;
}

.article{
    padding-bottom: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgb(14 14 14 / 0.5), 0px 0px 5px 0px rgb(14 14 14 / 0.5);
    width: 48%;
    display: block;
    border-radius: 5pt;
}

.scroller {
    position: fixed;
    color: white;
    font-size: 20pt;
    margin-left: auto;
    margin-right: 10pt;
}

.menubar {
    margin-top: 20pt;
    border-radius: 5pt;
    height: auto;
    width: 48%;
    display: block;
    justify-content: space-between;
    padding-top: 7pt;
    padding-bottom: 7pt;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 5px 5px 0px rgb(14 14 14 / 0.5), 0px 0px 5px 0px rgb(14 14 14 / 0.5);
}
.menubar a {
    padding-top: 8pt;
    padding-bottom: 6pt;
    padding-left: 5pt;
    padding-right: 5pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border-bottom: 2pt solid transparent;
}

.menubar a:hover {
    border-radius: 5pt;
    border-bottom: 2pt solid rgb(255, 91, 91);
    color: rgb(255, 91, 91);
    background-color: rgb(59, 59, 59);
}

.articleContent {
    position: relative;
    max-height: 60pt;
    min-height: 60pt;
    padding: 10pt;
    margin-bottom: 10pt;
    overflow: hidden;
    opacity: 0.7;
    transition: max-height .75s ease-in-out;
}

.articleContent img {
    transition: all .75s ease-in-out;
}

.articleContent[data-open=false] {
    max-height: 60pt !important;
}

.articleContent[data-open=true] {
    opacity: 1;
}

.articleContent[data-open=false] img {
    /*display: none;*/
    opacity: 0;
    max-width: calc(50% - 10pt);
    margin: 5pt 5pt 0pt 0pt;
}

.articleContent[data-open=true] img {
    border-radius: 5pt;
    max-width: calc(50% - 10pt);
    max-height: 50%;
    margin: 5pt 5pt 0pt 0pt;
}

.articleContent:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1));
}

.articleContent[data-open="true"]:after {
    display: none;
}

img {
    display: block;
    width: 100%;
    background-color: rgb(40, 40, 40);
}

header {
    position: relative;
    height: auto;
    margin-top: 10pt;
    padding-bottom: 10pt;
    display: block;
    text-align: left;
    background-color: rgb(255, 91, 91);
    color: white;
    z-index: 1;
}

footer {
    margin-bottom: 5pt;
    margin-top: 10pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(77 188 222);
    text-align: center;
    border-radius: 5pt;
}

footer p{
    color: rgb(40, 40, 40);
}

footer, header {
    color: white ;
    box-shadow: 0px 5px 5px 0px rgb(14 14 14 / 0.5), 0px 0px 5px 0px rgb(14 14 14 / 0.5);
}

button {
    border-radius: 4pt;
    font-weight: bold;
    margin-left: 20pt;
    border-style: solid;
    border-width: 0px;
    color: white;
    background-color: rgb(255, 91, 91);
    padding: 4pt;
    display: inline;
    font-size: 10pt;
}

.readMoreButton {
    color: white;
    background-color: rgb(40, 40, 40);
    margin-left: 2pt;
}

/* CSS FOR SMALL WINDOW SIZE */

@media only screen and (max-width: 1200px) {
    .content {
        margin-left: 20pt;
        margin-right: 20pt;
    }
    .codehilite {
        margin-left: 20pt;
        margin-right: 20pt;
    }
    header, .article, footer, .menubar {
        width: 95%;
        overflow-x: hidden;
        border-radius: 5pt;
    }
    .titletext {
        margin-left: 20pt;
    }
}

/* CSS FOR MOBILE DEVICES */

@media (hover:none), (hover:on-demand) {
    h1, h2, h3, h4, p, body, .codehilite {
        margin-left: 7pt;
        margin-right: 7pt;
    }
    img {
        margin-right: 10pt;
    }
    button {
        margin-left: 7pt;
    }
    header, .article, footer, .menubar {
        width: 95%;
        overflow-x: hidden;
        box-shadow: none;
        border-radius: 5pt;
    }
    .titletext {
        margin-left: 7pt;
    }
}